{% extends 'layout.html' %}

{% block content %}
<h2 class="text-2xl font-semibold mb-4"> 🌦️ About the WeatherX</h2>
<p>WeatherX is a smart weather app delivering live weather, forecasts, and air quality data with precision.</p>
<p>Welcome to the Weather section of WeatherX – your go-to destination for real-time, accurate, and insightful weather updates.<br>
 Our goal is to provide users with instant access to current weather conditions, extended forecasts, and environmental insights for their city or region.<br>


With the help of advanced APIs and smart technology, this section offers:<br>

Live Weather Data including temperature, humidity, pressure, wind speed, and sky conditions.<br>

5-Day Forecasts to help you plan your week ahead.<br>

Smart Analysis using AI to offer suggestions and visual summaries.<br>

Mobile-Friendly UI so you can check the weather anytime, anywhere.<br>

Whether you're a traveler, farmer, student, or outdoor enthusiast – WeatherX ensures you're always prepared for the skies ahead. Stay smart.<br> Stay informed. Stay weather-ready with WeatherX!</p></p>
{% endblock %}
